<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviesbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkMood"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustNothing">
        <activity android:name=".Activity.SplashActivity"
            android:theme="@style/splashScreenTheme"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activity.ViewmbActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".Activity.CreateListActivity" />
        <activity
            android:name=".Activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.PostActivity" />
        <activity android:name=".Activity.chooseActivity" />
        <activity android:name=".Activity.MoviesorBooks" />
        <activity android:name=".Activity.ViewProfile" />
        <activity android:name=".Activity.ViewActivity" />
        <activity android:name=".Activity.followersorfollowing" />
        <activity android:name=".Activity.AddActivity" />
        <activity android:name=".Activity.BooksActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Activity.AddPicActivity" />
        <activity android:name=".Activity.UserActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SliderActivity"/>
    </application>

</manifest>